@import "../../vars.css";

.navbar {
    color: var(--color-text) !important;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 61px;
    z-index: 2;
    margin: 0 10%;
    padding-top: 150px;
}

.title {
    font-size: 30px !important;
    font-weight: 600 !important;
    text-decoration: none;
    color: var(--color-text) !important;
}

.menu {
    display: flex !important;

}

.navbar :global(.navbar-nav) {
    display: flex !important;
    gap: 47px !important;
    list-style: none;
}

.navbar :global(.navbar-nav .nav-link) {
    font-size: 25px !important;
    color: var(--color-text) !important;
    text-decoration: none;
}

.navbar :global(.navbar-toggler) {
    border-color: var(--color-text) !important;
}

.navbar :global(.navbar-toggler-icon) {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.9)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

/* If you need to adjust specifically for mobile/collapsed state */
@media (max-width: 991px) {
    .navbar :global(.navbar-collapse) {
        padding-top: 10px; /* Adjust space between toggler and first item */
    }
}



