@import "../../vars.css";

.container {
    color: var(--color-text);
}

.title {
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    margin-top: 150px;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
}

.skills {
    width: 45%;
    margin-top: 120px;
    margin-left: 150px;
    display: flex;
    flex-wrap: wrap;
    gap: 57px;
    text-align: center;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
    margin: 0;
    padding: 0;
}

.skillImageContainer {
    background-color: var(--color-secondary);
    border-radius: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
}

.skillImageContainer img {
    width: 100px;
    height: 100px;
}

.skill p {
    font-size: 25px;
    font-family: var(--font-roboto);
    font-weight: 500;
}

.history {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-right: 200px;
}

.historyItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 17px;
    background: #19376d;
    background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 109, 0) 100%);
    border-radius: 10px;
    padding: 24px;

}

.historyItem img {
    width: 75px;
    height: 75px;
}

.historyItemDetails {
    font-family: var(--font-roboto);
}

.historyItemDetails h3 {
    font-size: 30px;
    font-weight: 500;
}

.historyItemDetails p {
    font-size: 20px;
    font-weight: 300;
}

.historyItemDetails ul {
    margin-top: 6px;
    list-style-position: inside;
    font-size: 25px;
    list-style-type: disc;
    margin-left: 17px;
}

@media screen and (max-width: 320px) {
    .content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title {
        margin-top: 75px;
    }

    .content {
        margin-top: 10px;
    }

    .skillImageContainer img {
        width: 100px;
        height: 100px;
    }

    .skills {
        margin-right: 140px;
    }

    .historyItem {
        margin-top: 50px;
    }

    .historyItemDetails h3 {
        font-size: 20px;
        font-weight: 300;
    }
    
    .historyItemDetails p {
        font-size: 15px;
        font-weight: 150;
    }

    .history {
        margin-right: 100px;
    }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
    .content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title {
        margin-top: 75px;
    }

    .content {
        margin-top: 10px;
    }

    .skillImageContainer img {
        width: 100px;
        height: 100px;
    }

    .skills {
        margin-right: 100px;
    }

    .historyItem {
        margin-top: 50px;
    }

    .historyItemDetails h3 {
        font-size: 20px;
        font-weight: 300;
    }
    
    .historyItemDetails p {
        font-size: 15px;
        font-weight: 150;
    }

    .history {
        margin-right: 120px;
    }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
    .content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title {
        margin-top: 75px;
    }

    .content {
        margin-top: 10px;
    }

    .skillImageContainer img {
        width: 100px;
        height: 100px;
    }

    .skills {
        margin-right: 70px;
    }

    .historyItem {
        margin-top: 50px;
    }

    .historyItemDetails h3 {
        font-size: 20px;
        font-weight: 300;
    }
    
    .historyItemDetails p {
        font-size: 15px;
        font-weight: 150;
    }

    .history {
        margin-right: 100px;
    }
}

@media screen and (min-width: 426px) and (max-width: 600px) {
    .content {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .title {
        margin-top: 75px;
    }

    .content {
        margin-top: 10px;
    }

    .skillImageContainer img {
        width: 100px;
        height: 100px;
    }

    .historyItem {
        margin-top: 50px;
    }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
    .content {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .title {
        margin-top: 75px;
    }

    .content {
        margin-top: 10px;
    }

    .skillImageContainer img {
        width: 100px;
        height: 100px;
    }

    .historyItem {
        margin-top: 50px;
    }

    .skills {
        margin-right: 60px;
    }
    .history {
        width: 100%;
        margin-left: 100px;
    }
}